---
- hosts: all
  pre_tasks:
  - name: Verify Ansible version
    assert:
      that: "ansible_version.full is version_compare('2.9', '>=')"
      fail_msg: This Ansible playbook requires Ansible version >= 2.9.1. Current version is {{ ansible_version.full }}
      quiet: yes
  tasks:
  - name: Enable third-party sources
    lineinfile:
      path: /etc/apt/sources.list
      regexp: '^#\s?(deb\s{1,}.*partner)$'
      line: '\g<1>'
      backrefs: yes
  - name: Update repos and upgrade all packages
    apt:
      update_cache: yes
      upgrade: safe
      force_apt_get: yes
  - name: Execute role 'common'
    import_role:
      name: common
    tags: ['common']
  - name: Execute role 'gnome'
    import_role:
      name: gnome
    tags: ['gnome']
  - name: Execute role 'dev'
    import_role:
      name: dev
    tags: ['dev']
  - name: Execute role 'entertainment'
    import_role:
      name: entertainment
    tags: ['entertainment']
  - name: Execute role 'work'
    import_role:
      name: work
    tags: ['work']
  - name: Remove useless apt packages and dependencies
    apt:
      autoremove: yes
      autoclean: yes
      force_apt_get: yes
  become: yes
