---
- name: Disable automatic blank screen
  dconf:
    key: "/org/gnome/desktop/session/idle-delay"
    value: "uint32 0"

- name: Disable automatic screen lock
  dconf:
    key: "/org/gnome/desktop/screensaver/lock-enabled"
    value: "false"

- name: Hide notifications while screen is locked
  dconf:
    key: "/org/gnome/desktop/notifications/show-in-lock-screen"
    value: "false"

- name: Show date on clock
  dconf:
    key: "/org/gnome/desktop/interface/clock-show-date"
    value: "true"

- name: Show seconds on clock
  dconf:
    key: "/org/gnome/desktop/interface/clock-show-seconds"
    value: "true"

- name: Show weekdays on calendar
  dconf:
    key: "/org/gnome/desktop/calendar/show-weekdate"
    value: "true"

- name: Move dock to bottom
  dconf:
    key: "/org/gnome/shell/extensions/dash-to-dock/dock-position"
    value: "'BOTTOM'"

- name: Set dock icons' size to 34
  dconf:
    key: "/org/gnome/shell/extensions/dash-to-dock/dash-max-icon-size"
    value: "34"

- name: Use static workspaces
  dconf:
    key: "/org/gnome/mutter/dynamic-workspaces"
    value: "false"

- name: Use exactly 4 workspaces
  dconf:
    key: "/org/gnome/desktop/wm/preferences/num-workspaces"
    value: "4"

- name: Use workspaces on all monitors
  dconf:
    key: "/org/gnome/mutter/workspaces-only-on-primary"
    value: "false"

- name: Set 'move to workspace 1' keyboard shortcut
  dconf:
    key: "/org/gnome/desktop/wm/keybindings/move-to-workspace-1"
    value: "['<Shift><Super>F1']"

- name: Set 'move to workspace 2' keyboard shortcut
  dconf:
    key: "/org/gnome/desktop/wm/keybindings/move-to-workspace-2"
    value: "['<Shift><Super>F2']"

- name: Set 'move to workspace 3' keyboard shortcut
  dconf:
    key: "/org/gnome/desktop/wm/keybindings/move-to-workspace-3"
    value: "['<Shift><Super>F3']"

- name: Set 'move to workspace 4' keyboard shortcut
  dconf:
    key: "/org/gnome/desktop/wm/keybindings/move-to-workspace-4"
    value: "['<Shift><Super>F4']"

- name: Set 'switch to workspace 1' keyboard shortcut
  dconf:
    key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-1"
    value: "['<Super>F1']"

- name: Set 'switch to workspace 2' keyboard shortcut
  dconf:
    key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-2"
    value: "['<Super>F2']"

- name: Set 'switch to workspace 3' keyboard shortcut
  dconf:
    key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-3"
    value: "['<Super>F3']"

- name: Set 'switch to workspace 4' keyboard shortcut
  dconf:
    key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-4"
    value: "['<Super>F4']"

- name: Disable 'window resizing' keyboard shortcut
  dconf:
    key: "/org/gnome/desktop/wm/keybindings/begin-resize"
    value: "@as []"

- name: Disable 'switch to workspace left' keyboard shortcut
  dconf:
    key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-left"
    value: "@as []"

- name: Disable 'switch to workspace right' keyboard shortcut
  dconf:
    key: "/org/gnome/desktop/wm/keybindings/switch-to-workspace-right"
    value: "@as []"

- name: Enable gnome-shell extensions (available after restarting)
  dconf:
    key: "/org/gnome/shell/enabled-extensions"
    value:
      - openweather-extension@jenslody.de
      - user-theme@gnome-shell-extensions.gcampax.github.com
      - dash-to-dock@micxgx.gmail.com

- import_tasks: dash_to_dock.yml
  become: no

- import_tasks: openweather.yml
  become: no
