---
- name: Install apt packages
  apt:
    name: "{{ packages }}"
    force_apt_get: yes
  vars:
    packages:
    - curl
    - openvpn
    - python3-dev
    - python3-pip
    - jq
    - cifs-utils
    - keyutils

- name: Install gopass
  apt:
    deb: https://github.com/gopasspw/gopass/releases/download/v{{ gopass.version }}/gopass_{{ gopass.version }}_linux_amd64.deb
