---
- name: Install apt packages
  apt:
    name: "{{ packages }}"
    force_apt_get: yes
  vars:
    packages:
    - flatpak
    - openvpn
    - python3-dev
    - python3-pip
    - jq
    - cifs-utils
    - keyutils
