---
- import_tasks: apt.yml

- import_tasks: sdkman.yml
  become: no

- import_tasks: snap.yml
- import_tasks: flatpak.yml

- import_tasks: terraform.yml
  become: no

- name: Set up aws tools
  import_tasks: aws.yml

- import_tasks: payara.yml
- import_tasks: teams.yml
