---
- import_tasks: apt.yml
- import_tasks: snap.yml
- import_tasks: flatpak.yml

- import_tasks: terraform.yml
  become: no

- import_tasks: aws_vault.yml
  become: no

- import_tasks: aws_session_manager_plugin.yml
- import_tasks: payara.yml
