---
- name: Add official KeePassXC respository
  apt_repository:
    repo: ppa:phoerious/keepassxc

- name: Install apt packages
  apt:
    name: "{{ packages }}"
    force_apt_get: yes
  vars:
    packages:
    - chromium-browser
    - flashplugin-installer
    - flatpak
    - fzf
    - git
    - keepassxc
    - tldr
    - ubuntu-restricted-extras
    - terminator
    - vim

- import_tasks: terminator.yml
  become: no

- name: Set default editor to vim
  alternatives:
    name: editor
    path: /usr/bin/vim.basic

- import_tasks: git.yml
  become: no

- import_tasks: fzf.yml
  become: no
