---
- name: Install apt packages
  apt:
    name: "{{ packages }}"
    force_apt_get: yes
  vars:
    packages:
    - chromium-browser
    - curl
    - openjdk-8-jdk
    - openjdk-8-doc
    - openjdk-11-jdk
    - openjdk-11-doc
    - openjdk-14-jdk
    - openjdk-14-doc
    - flatpak
    - fzf
    - gnome-software-plugin-flatpak
    - git
    - httpie
    - keepassxc
    - tldr
    - ubuntu-restricted-extras
    - synaptic
    - terminator
    - vim
    - libcanberra-gtk-module
    - libcanberra-gtk3-module

- import_tasks: terminator.yml
  become: no

- name: Set default editor to vim
  alternatives:
    name: editor
    path: /usr/bin/vim.basic

- import_tasks: git.yml
  become: no
