---
- name: Set up git configuration
  git_config:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    scope: global
  loop:
    - { name: "color.ui", value: "auto" }
    - { name: "fetch.prune", value: "true" }
    - { name: "alias.fa", value: "fetch --all" }
    - { name: "alias.sw", value: "switch" }
    - { name: "alias.swn", value: "switch --no-track -c" }
    - { name: "alias.rs", value: "restore" }
